USE [master]
GO
/****** Object:  Database [notification]    Script Date: 6/17/2024 11:18:44 AM ******/
CREATE DATABASE [notification]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'notification', FILENAME = N'/var/opt/mssql/data/notification.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'notification_log', FILENAME = N'/var/opt/mssql/data/notification_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [notification].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [notification]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 6/17/2024 11:18:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [nchar](36) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[SenderID] [nchar](36) NULL,
	[ReceiverID] [nchar](36) NULL,
	[TopicID] [int] NULL,
	[Status] [varchar](20) NOT NULL,
	[Time] [datetime] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topics]    Script Date: 6/17/2024 11:18:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topics](
	[TopicID] [int] IDENTITY(1,1) NOT NULL,
	[TopicName] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TopicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotificationUser]    Script Date: 6/17/2024 11:18:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotificationUser](
	[NotificationID] [nchar](36) NOT NULL,
	[UserID] [nchar](36) NOT NULL,
	[IsRead] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[NotificationDetails]    Script Date: 6/17/2024 11:18:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[NotificationDetails] as
SELECT n.NotificationID, n.Title, n.Message, n.SenderID, n.ReceiverID, t.TopicName AS Topic, n.Status, ISNULL(nu.IsRead, 0) as IsRead, n.Time
FROM     dbo.Notifications AS n INNER JOIN
         dbo.Topics AS t ON n.TopicID = t.TopicID left join
		 dbo.NotificationUser nu ON nu.NotificationID=n.NotificationID
GO
INSERT [dbo].[Notifications] ([NotificationID], [Message], [SenderID], [ReceiverID], [TopicID], [Status], [Time], [Title]) VALUES (N'eb5532d5-f8d9-4f1a-8864-8e7ccbea6689', N'Your information has been updated by Admin', NULL, N'01efea5a-2668-497b-a756-44e70191fa1b', 2, N'SUCCESSFUL', CAST(N'2024-06-17T11:11:35.637' AS DateTime), N'USER_INFO_UPDATE')
GO
INSERT [dbo].[NotificationUser] ([NotificationID], [UserID], [IsRead]) VALUES (N'eb5532d5-f8d9-4f1a-8864-8e7ccbea6689', N'01efea5a-2668-497b-a756-44e70191fa1b', 1)
GO
SET IDENTITY_INSERT [dbo].[Topics] ON 

INSERT [dbo].[Topics] ([TopicID], [TopicName]) VALUES (1, N'Order')
INSERT [dbo].[Topics] ([TopicID], [TopicName]) VALUES (2, N'Account')
SET IDENTITY_INSERT [dbo].[Topics] OFF
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([TopicID])
REFERENCES [dbo].[Topics] ([TopicID])
GO
ALTER TABLE [dbo].[NotificationUser]  WITH CHECK ADD FOREIGN KEY([NotificationID])
REFERENCES [dbo].[Notifications] ([NotificationID])
GO
/****** Object:  StoredProcedure [dbo].[CreateNotification]    Script Date: 6/17/2024 11:18:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[CreateNotification] @notificationID nchar(36), @title nvarchar(100), @messgae nvarchar(max), @senderID nchar(36), @receiverID nchar(36), @topicName varchar(20), @status varchar(20), @isRead bit, @time datetime, @result bit output as
begin
	if exists(select TopicID from Topics where TopicName=@topicName)
		begin
		begin transaction
		begin try
				declare @topicID int;
				select @topicID=TopicID from Topics where TopicName=@topicName

				insert into Notifications(NotificationID, Title, Message, SenderID, ReceiverID, TopicID, Status, Time)
				values(@notificationID, @title, @messgae, @senderID, @receiverID, @topicID, @status, @time);
				
				insert into NotificationUser(NotificationID, UserID, IsRead) 
				values(@notificationID, @receiverID, @isRead);
				
				set @result=1;
				commit;
		end try
		begin catch
			rollback
			set @result=0;
		end catch
		end;
	else 
	begin 
		set @result=0 
	end;
end;
GO
/****** Object:  StoredProcedure [dbo].[UpdateNotificationReadStatusByNotificationID]    Script Date: 6/17/2024 11:18:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[UpdateNotificationReadStatusByNotificationID] @notificationID nchar(36), @isRead bit, @result bit output as
begin
	begin transaction
	begin try
		if not exists (SELECT * FROM NotificationUser nu, Notifications n where n.NotificationID=@notificationID and n.ReceiverID=nu.UserID)
			begin
				insert into NotificationUser(NotificationID, UserID, IsRead) 
				select NotificationID, ReceiverID, @isRead
				from Notifications where NotificationID=@notificationID
			end

		update NotificationUser set IsRead=@isRead 
		where NotificationID=@notificationID;

		set @result=1;
		commit;
	end try
	begin catch
		rollback;
		set @result=0;
	end catch;
end;
GO
/****** Object:  StoredProcedure [dbo].[UpdateNotificationReadStatusByNotificationIDAndUserID]    Script Date: 6/17/2024 11:18:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[UpdateNotificationReadStatusByNotificationIDAndUserID] @notificationID nchar(36), @userID nchar(36), @isRead bit, @result bit output as
begin
	begin transaction
	begin try
		if exists (SELECT * FROM NotificationUser where NotificationID=@notificationID and UserID=@userID)
		begin
			update NotificationUser set IsRead=@isRead where NotificationID=@notificationID and UserID=@userID;
		end
		else begin
			insert into NotificationUser(NotificationID, UserID, IsRead) values(@notificationID, @userID, @isRead);
		end;
		set @result=1;
		commit;
	end try
	begin catch
		rollback;
		set @result=0;
	end catch;
end;
GO
/****** Object:  StoredProcedure [dbo].[UpdateNotificationReadStatusByUserID]    Script Date: 6/17/2024 11:18:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[UpdateNotificationReadStatusByUserID] @userID nchar(36), @isRead bit, @result bit output as
begin
	begin transaction;
	begin try
		update NotificationUser set IsRead=@isRead where UserID=@userID;
		set @result=1;
		commit;
	end try
	begin catch
		rollback;
		set @result=0;
	end catch;
end;
GO
USE [master]
GO
