USE [master]
GO
/****** Object:  Database [product]    Script Date: 6/27/2024 2:01:23 PM ******/
CREATE DATABASE [product]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'product', FILENAME = N'/var/opt/mssql/data/product.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'product_log', FILENAME = N'/var/opt/mssql/data/product_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [product].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [product]
GO
/****** Object:  UserDefinedTableType [dbo].[ProductStockTableType]    Script Date: 6/27/2024 2:01:23 PM ******/
CREATE TYPE [dbo].[ProductStockTableType] AS TABLE(
	[ProductID] [int] NULL,
	[UnitsInStock] [smallint] NULL
)
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 6/27/2024 2:01:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](15) NOT NULL,
	[Description] [ntext] NULL,
	[Picture] [varchar](256) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 6/27/2024 2:01:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](40) NOT NULL,
	[CategoryID] [int] NULL,
	[QuantityPerUnit] [nvarchar](20) NULL,
	[UnitPrice] [money] NULL,
	[UnitsInStock] [smallint] NULL,
	[Discontinued] [bit] NOT NULL,
	[Picture] [varchar](256) NULL,
	[Description] [text] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[ProductInfos]    Script Date: 6/27/2024 2:01:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[ProductInfos] as
SELECT p.ProductID, p.ProductName, p.CategoryID, p.QuantityPerUnit, p.UnitPrice, p.UnitsInStock, p.Discontinued, p.Picture, p.Description, c.CategoryName
FROM     dbo.Products AS p LEFT OUTER JOIN
                  dbo.Categories AS c ON p.CategoryID = c.CategoryID
GO
/****** Object:  Table [dbo].[Discounts]    Script Date: 6/27/2024 2:01:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discounts](
	[DiscountID] [varchar](36) NOT NULL,
	[DiscountPercent] [int] NOT NULL,
	[DiscountCode] [varchar](max) NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Active] [bit] NOT NULL,
	[DiscountTypeID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DiscountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiscountTypes]    Script Date: 6/27/2024 2:01:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscountTypes](
	[DiscountTypeID] [int] IDENTITY(1,1) NOT NULL,
	[DiscountType] [varchar](20) NOT NULL,
	[Description] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[DiscountTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[CurrentValidDiscountPercentageBased]    Script Date: 6/27/2024 2:01:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[CurrentValidDiscountPercentageBased] as
SELECT DiscountID, DiscountPercent, DiscountType, DiscountCode, StartDate, EndDate, Active
FROM     dbo.Discounts d join DiscountTypes dt on d.DiscountTypeID=dt.DiscountTypeID
WHERE  (DiscountType = 'percentage-based') AND (Active = 1) AND (CAST(GETDATE() AS datetime) BETWEEN StartDate AND EndDate)
GO
/****** Object:  Table [dbo].[ProductsDiscounts]    Script Date: 6/27/2024 2:01:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductsDiscounts](
	[DiscountID] [varchar](36) NOT NULL,
	[ProductID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DiscountID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ProductDetails]    Script Date: 6/27/2024 2:01:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[ProductDetails] as
SELECT p.ProductID, p.ProductName, p.CategoryID, p.QuantityPerUnit, p.UnitPrice, p.UnitsInStock, p.Discontinued, p.Picture, p.Description, p.CategoryName, d.DiscountID, ISNULL(d.DiscountPercent, 0) 
                  AS DiscountPercent, d.StartDate, d.EndDate
FROM     dbo.ProductInfos AS p LEFT OUTER JOIN
                  dbo.ProductsDiscounts AS pd INNER JOIN
                  dbo.CurrentValidDiscountPercentageBased AS d ON pd.DiscountID = d.DiscountID ON p.ProductID = pd.ProductID
GO
/****** Object:  View [dbo].[Products by Category]    Script Date: 6/27/2024 2:01:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[Products by Category] AS
SELECT Categories.CategoryName, Products.ProductName, Products.QuantityPerUnit, Products.UnitsInStock, Products.Discontinued
FROM Categories INNER JOIN Products ON Categories.CategoryID = Products.CategoryID
WHERE Products.Discontinued <> 1
--ORDER BY Categories.CategoryName, Products.ProductName
GO
/****** Object:  View [dbo].[DiscountDetails]    Script Date: 6/27/2024 2:01:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[DiscountDetails] as
SELECT d.DiscountID, d.DiscountPercent, d.DiscountCode, d.StartDate, d.EndDate, d.Active, dt.DiscountType, dt.Description
FROM     dbo.Discounts AS d INNER JOIN
                  dbo.DiscountTypes AS dt ON d.DiscountTypeID = dt.DiscountTypeID
GO
/****** Object:  View [dbo].[Current Valid Discounts]    Script Date: 6/27/2024 2:01:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Current Valid Discounts] as
SELECT DiscountID, DiscountPercent, DiscountCode, StartDate, EndDate, Active, DiscountType
FROM     dbo.Discounts d join DiscountTypes dt on d.DiscountTypeID=dt.DiscountTypeID
WHERE  (CAST(GETDATE() AS datetime) BETWEEN StartDate AND EndDate) AND (Active = 1)
GO
/****** Object:  View [dbo].[Current Product List]    Script Date: 6/27/2024 2:01:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Current Product List] as
SELECT p.ProductID, p.ProductName, p.UnitPrice, p.UnitsInStock, p.picture as Picture, p.CategoryName, d.DiscountID, ISNULL(d.DiscountPercent, 0) AS DiscountPercent
FROM     dbo.ProductInfos AS p LEFT OUTER JOIN
                  dbo.ProductsDiscounts AS pd INNER JOIN
                  dbo.CurrentValidDiscountPercentageBased AS d ON pd.DiscountID = d.DiscountID ON p.ProductID = pd.ProductID
WHERE  (p.Discontinued = 0)

GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description], [Picture]) VALUES (1, N'Beverages', N'Soft drinks, coffees, teas, beers, and ales', N'f35fb269-b9cd-4f98-b1b3-07f22dc72511.jpg')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description], [Picture]) VALUES (2, N'Condiments', N'Sweet and savory sauces, relishes, spreads, and seasonings', N'cd709f4c-b8c4-4060-989b-8282deff85c8.jpg')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Description], [Picture]) VALUES (3, N'Confections', N'Desserts, candies, and sweet breads', N'a22927d5-2b7d-4bfe-b853-37b12a46dd04.jpg')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
INSERT [dbo].[Discounts] ([DiscountID], [DiscountPercent], [DiscountCode], [StartDate], [EndDate], [Active], [DiscountTypeID]) VALUES (N'0a405179-7c98-429d-b564-5bbd75864fe3', 12, N'', CAST(N'2024-06-26T00:00:00.000' AS DateTime), CAST(N'2025-06-26T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[Discounts] ([DiscountID], [DiscountPercent], [DiscountCode], [StartDate], [EndDate], [Active], [DiscountTypeID]) VALUES (N'3be96477-95de-4bfd-8be7-60fad2020e84', 30, N'', CAST(N'2024-06-26T00:00:00.000' AS DateTime), CAST(N'2026-06-26T00:00:00.000' AS DateTime), 0, 1)
INSERT [dbo].[Discounts] ([DiscountID], [DiscountPercent], [DiscountCode], [StartDate], [EndDate], [Active], [DiscountTypeID]) VALUES (N'57366b38-e463-4536-bcd8-5535d01cd4b8', 10, N'', CAST(N'2024-06-26T00:00:00.000' AS DateTime), CAST(N'2024-07-31T00:00:00.000' AS DateTime), 1, 1)
GO
SET IDENTITY_INSERT [dbo].[DiscountTypes] ON 

INSERT [dbo].[DiscountTypes] ([DiscountTypeID], [DiscountType], [Description]) VALUES (1, N'Percentage-based', N'Discount is used for product as default')
INSERT [dbo].[DiscountTypes] ([DiscountTypeID], [DiscountType], [Description]) VALUES (2, N'Code', N'Discount codes are entered by the user using the code')
SET IDENTITY_INSERT [dbo].[DiscountTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
GO
INSERT [dbo].[ProductsDiscounts] ([DiscountID], [ProductID]) VALUES (N'0a405179-7c98-429d-b564-5bbd75864fe3', 2)
INSERT [dbo].[ProductsDiscounts] ([DiscountID], [ProductID]) VALUES (N'3be96477-95de-4bfd-8be7-60fad2020e84', 3)
INSERT [dbo].[ProductsDiscounts] ([DiscountID], [ProductID]) VALUES (N'57366b38-e463-4536-bcd8-5535d01cd4b8', 3)
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_UnitPrice]  DEFAULT ((0)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_UnitsInStock]  DEFAULT ((0)) FOR [UnitsInStock]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Discontinued]  DEFAULT ((0)) FOR [Discontinued]
GO
ALTER TABLE [dbo].[Discounts]  WITH CHECK ADD FOREIGN KEY([DiscountTypeID])
REFERENCES [dbo].[DiscountTypes] ([DiscountTypeID])
GO
ALTER TABLE [dbo].[Products]  WITH NOCHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[ProductsDiscounts]  WITH CHECK ADD FOREIGN KEY([DiscountID])
REFERENCES [dbo].[Discounts] ([DiscountID])
GO
ALTER TABLE [dbo].[ProductsDiscounts]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Products]  WITH NOCHECK ADD  CONSTRAINT [CK_Products_UnitPrice] CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Products_UnitPrice]
GO
ALTER TABLE [dbo].[Products]  WITH NOCHECK ADD  CONSTRAINT [CK_UnitsInStock] CHECK  (([UnitsInStock]>=(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_UnitsInStock]
GO
/****** Object:  StoredProcedure [dbo].[AddCategory]    Script Date: 6/27/2024 2:01:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[AddCategory] @categoryname nvarchar(15), @description ntext, @picture varchar(256), @result bit output as
begin
	begin transaction;
	begin try
		if not exists (select * from Categories where CategoryName=@categoryname)
		begin
			insert into Categories(CategoryName, Description, Picture)
			values(@categoryname, @description, @picture)
			set @result = 1;
		end
		else begin set @result= 0 end;
		commit;
	end try
	begin catch
		rollback;
		set @result = 0;
	end catch;
end
GO
/****** Object:  StoredProcedure [dbo].[InsertDiscount]    Script Date: 6/27/2024 2:01:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[InsertDiscount] @discountID varchar(36), @discountPercent int, @discountCode varchar(MAX), @startDate datetime, @endDate datetime, @active bit,  @discountType varchar(20), @productID int, @result bit output as
begin 
	if (select count(1) from DiscountTypes dt where DiscountType=@discountType)>0
		begin
			begin transaction;
			begin try
				declare @discountTypeID int;
				select @discountTypeID=DiscountTypeID from DiscountTypes dt where DiscountType=@discountType

				declare @percentageBasedID int;
				select @percentageBasedID=DiscountTypeID from DiscountTypes dt where DiscountType='Percentage-based'

				if(select count(1) from DiscountDetails d join ProductsDiscounts pd on d.DiscountID=pd.DiscountID 
					where d.DiscountType='Percentage-based' and @discountType=DiscountType and @active=1 and pd.ProductID=@productID)>0
				begin
					update Discounts set Active=0 
					from Discounts d join ProductsDiscounts pd on d.DiscountID=pd.DiscountID 
					where DiscountTypeID=@percentageBasedID and pd.ProductID=@productID;
				end

				insert into Discounts(DiscountID, DiscountPercent, StartDate, EndDate, DiscountCode, Active, DiscountTypeID) values(@discountID, @discountPercent, @startDate, @endDate, @discountCode, @active, @discountTypeID);
				insert into ProductsDiscounts(DiscountID, ProductID) values(@discountID, @productID);

				set @result=1;
			commit;
			end try
			begin catch
				rollback;
				set @result=0;
			end catch;
		end
	else 
	begin
		set @result=0;
		print 'Error: the provided discountType does not exist';
	end
end;
GO
/****** Object:  StoredProcedure [dbo].[InsertProduct]    Script Date: 6/27/2024 2:01:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[InsertProduct]
	@productName nvarchar(40), 
	@quantityPerUnit nvarchar(20), 
	@unitPrice money, 
	@unitsInStock smallint, 
	@discontinued bit, 
	@picture varchar(256),
	@description text,
	@categoryID int,
	@result bit output
as
begin
    begin transaction;
    begin try
        insert into Products(ProductName, QuantityPerUnit, UnitPrice, UnitsInStock, Discontinued, Picture, Description, CategoryID) 
        values(@productName, @quantityPerUnit, @unitPrice, @unitsInStock, @discontinued, @picture, @description, @categoryID)
        set @result=1;
        commit;
    end try
    begin catch
        rollback;
        set @result=0;
    end catch;
end;
GO
/****** Object:  StoredProcedure [dbo].[Ten Most Expensive Products]    Script Date: 6/27/2024 2:01:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Ten Most Expensive Products] AS
SET ROWCOUNT 10
SELECT Products.ProductName AS TenMostExpensiveProducts, Products.UnitPrice
FROM Products
ORDER BY Products.UnitPrice DESC
GO
/****** Object:  StoredProcedure [dbo].[UpdateDiscount]    Script Date: 6/27/2024 2:01:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[UpdateDiscount] @discountID varchar(36), @discountPercent int, @discountCode varchar(MAX), @startDate datetime, @endDate datetime, @active bit,  @discountType varchar(20), @result bit output as
begin
	if (select count(1) from DiscountTypes dt where DiscountType=@discountType)>0
		begin
			begin transaction;
			begin try
				declare @discountTypeID int;
				declare @productID int;

				select @discountTypeID=DiscountTypeID 
				from DiscountTypes dt 
				where DiscountType=@discountType
				
				select @productID=pd.ProductID 
				from ProductsDiscounts pd join Discounts d on pd.DiscountID=pd.DiscountID 
				where d.DiscountID=@discountID

				declare @percentageBasedID int;
				select @percentageBasedID=DiscountTypeID from DiscountTypes dt where DiscountType='Percentage-based'

				if(select count(1) from DiscountDetails d join ProductsDiscounts pd on d.DiscountID=pd.DiscountID where d.DiscountType='Percentage-based' and @discountType=DiscountType and pd.ProductID=@productID)>0
				begin
					update Discounts set Active=0 
					from Discounts d join ProductsDiscounts pd on d.DiscountID=pd.DiscountID 
					where DiscountTypeID=@percentageBasedID and pd.ProductID=@productID;
				end

				update Discounts set DiscountPercent=@discountPercent, StartDate=@startDate, EndDate=@endDate, DiscountCode=@discountCode, Active=@active, DiscountTypeID=@discountTypeID
				where DiscountID=@discountID;

				set @result=1;
			commit;
			end try
			begin catch
				rollback;
				set @result=0;
			end catch;
		end
	else 
	begin
		set @result=0;
		print 'Error: the provided discountType does not exist';
	end
end;
GO
/****** Object:  StoredProcedure [dbo].[UpdateDiscountStatus]    Script Date: 6/27/2024 2:01:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UpdateDiscountStatus] @discountID varchar(36), @active bit, @result bit output as
begin
	begin transaction;
	begin try
		declare @discountTypeID int;
		select @discountTypeID=DiscountTypeID from Discounts where DiscountID=@discountID

		declare @percentageBasedID int;
		select @percentageBasedID=DiscountTypeID from DiscountTypes dt where DiscountType='Percentage-based'

		if(select count(1) from Discounts d join DiscountTypes dt on d.DiscountTypeID=dt.DiscountTypeID where DiscountType='Percentage-based' and @discountTypeID=dt.DiscountTypeID and Active=1)>0
		begin
			update Discounts set Active=0 where DiscountTypeID=@percentageBasedID;
		end

		update Discounts set Active=@active
		where DiscountID=@discountID;

		set @result=1;
	commit;
	end try
	begin catch
		rollback;
		set @result=0;
	end catch;
end;
GO
/****** Object:  StoredProcedure [dbo].[UpdateProduct]    Script Date: 6/27/2024 2:01:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[UpdateProduct] 
	@productID int, 
	@productName nvarchar(40), 
	@quantityPerUnit nvarchar(20), 
	@unitPrice money, 
	@unitsInStock smallint,  
	@discontinued bit, 
	@picture varchar(256),
	@descripton text,
	@categoryID int,
	@result bit output
as
begin
	begin transaction;
	begin try
		update Products
		set ProductName=@productName, QuantityPerUnit=@quantityPerUnit, 
			UnitPrice=@unitPrice, UnitsInStock=@unitsInStock, 
			Discontinued=@discontinued, picture=@picture, Description=@descripton,
			CategoryID=@categoryID
		where ProductID=@productID;

		set @result=1;
		commit;
	end try
	begin catch
		rollback;
		set @result=0;
	end catch;
end;
GO
/****** Object:  StoredProcedure [dbo].[UpdateProductsUnitsInStock]    Script Date: 6/27/2024 2:01:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[UpdateProductsUnitsInStock] @productIDs nvarchar(max), @unitsInStocks nvarchar(max), @result bit output as
begin
	begin transaction;
	begin try
		declare @listProductIDs table (IndexId int Identity(1,1), ProductID int)
		declare @listUnitsInstocks table (IndexId int Identity(1,1), UnitsInStocks int)

		insert into @listProductIDs select value from string_split(@productIDs, ',');
		insert into @listUnitsInstocks select value from string_split(@unitsInStocks, ',');

		update Products set UnitsInStock=lu.UnitsInStocks 
		from Products p join @listProductIDs lp on p.ProductID=lp.ProductID
			join @listUnitsInstocks lu on lp.IndexId=lu.IndexId

		set @result=1;
		commit;
	end try
	begin catch
		rollback;
		set @result=0;
	end catch;
end;
GO
/****** Object:  StoredProcedure [dbo].[UpdateProductUnitsInStock]    Script Date: 6/27/2024 2:01:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[UpdateProductUnitsInStock] @productID int, @unitsInStock int, @result bit output as
begin
	begin transaction;
	begin try
		update Products set UnitsInStock=@unitsInStock
		where ProductID=@productID
		set @result=1;
		commit;
	end try
	begin catch
		rollback;
		set @result=0;
	end catch;
end;
GO
USE [master]
GO
